### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [2]:
import pandas as pd

file = "Resources/purchase_data.csv"

data = pd.read_csv(file, index_col=False)
data.head(5)

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

* Display the total number of players

In [5]:
num_players = len(data["SN"].value_counts())

players = pd.DataFrame({"Total Players":[num_players]})
players.set_index('Total Players', inplace=True)
players

Empty DataFrame
Columns: []
Index: [576]

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [41]:
unique_items = len((data["Item ID"]).unique())

revenue = (data["Price"]).sum()

purchases = (data["Purchase ID"]).count()

avg_price = (data["Price"]).mean()

new_df = pd.DataFrame({
                            "Number of Unique Items":[unique_items],
                            "Number of Purchases": [purchases],
                            "Avg Price of Purchases":[avg_price], 
                            "Total Revenue": [revenue]})

new_df.style.format({
                     'Total Revenue': '${:,.2f}',
                     'Average Price':"${:,.2f}"})

new_df.set_index('Number of Unique Items', inplace=True)

new_df

,Number of Purchases,Avg Price of Purchases,Total Revenue
Number of Unique Items,,,
183,780,3.050987,2379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [42]:
gender_info = data.groupby("Gender")

gender_count = gender_info.nunique()["SN"]

pct_of_players = gender_count / num_players * 100

gender_df = pd.DataFrame({
                                "Percentage of Players": pct_of_players, 
                                "Total": gender_count})

gender_df.index.name = None

gender_df.sort_values(["Total"], ascending = False).style.format({
                                                                    "Percentage of Players":"{:.2f}"})


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [17]:
num_purchases = gender_info["Purchase ID"].count()

avg_total = gender_info["Price"].sum()

avg_price_gender = gender_info["Price"].mean()

avg_ppp = avg_total/gender_count

new_df = pd.DataFrame({
                        "Purchase Count": num_purchases, 
                        "Avg Purchase Value":avg_total,
                        "Avg Purchase Price": avg_price_gender,
                        "Avg Purchase Total per Person": avg_ppp})

new_df.index.name = "Gender"

new_df.style.format({
                            "Avg Purchase Value":"${:,.2f}",
                            "Avg Purchase Price":"${:,.2f}",
                            "Avg Purchase Total per Person":"${:,.2f}"})

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [19]:
ages = [0, 9.90, 14.90, 19.90, 24.90, 29.90, 34.90, 99999]
age_groups = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35+"]

data["Age Group"] = pd.cut(data["Age"],ages, labels = age_groups)

age_df = data.groupby("Age Group")

all_ages = age_df["SN"].nunique()

age_pct = (all_ages/num_players) * 100

info_ages = pd.DataFrame({"Percentage of Players": age_pct, "Total": all_ages})

info_ages.index.name = None

info_ages.style.format({"Percentage of Players":"{:,.2f}"})

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [43]:
age_purchases = age_df["Purchase ID"].count()

total_value = age_df["Price"].sum()

age_prices_avg = age_df["Price"].mean()

avg_ppp_age = total_value/all_ages

other_age_df = pd.DataFrame({
                                "Purchases": age_purchases,
                                "Total Purchase Value": total_value,
                                "Avg Purchase Price": age_prices_avg,
                                "Avg Purchase Total per Person": avg_ppp_age})
other_age_df.index.name = None

other_age_df.style.format({
                                "Total Purchase Value":"${:,.2f}",
                                "Avg Purchase Price":"${:,.2f}",
                                "Avg Purchase Total per Person":"${:,.2f}"})

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [36]:
spenders = data.groupby("SN")

spender_purchases = spenders["Purchase ID"].count()

num_purchases_spenders = spenders["Price"].sum()

spender_purchases_avg = spenders["Price"].mean()

whales = pd.DataFrame({
                            "Purchases": spender_purchases,
                            "Total Purchase Value": num_purchases_spenders,
                            "Avg Purchase Price": spender_purchases_avg})

whales_adj = whales.sort_values(["Total Purchase Value"], ascending=False).head()

whales_adj.style.format({
                                "Total Purchase Value":"${:,.2f}",
                                "Avg Purchase Price":"${:,.2f}"})

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [38]:
items = data[["Item ID", "Item Name", "Price"]]

items_group = items.groupby(["Item ID","Item Name"])

item_purchases = items_group["Price"].count()

value = (items_group["Price"].sum()) 

item_price = value/item_purchases

pop_items = pd.DataFrame({
                                "Item Price": item_price,
                                "Total Purchase Value":value,
                                "Purchase Count": item_purchases})

new_pop_items = pop_items.sort_values(["Purchase Count"], ascending=False).head()

new_pop_items.style.format({
                                "Item Price":"${:,.2f}",
                                "Total Purchase Value":"${:,.2f}"})

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [39]:
newer_pop = pop_items.sort_values(["Total Purchase Value"], ascending=False).head()

newer_pop.style.format({
                                "Item Price":"${:,.2f}",
                                "Total Purchase Value":"${:,.2f}"})